*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, nav, article, aside, footer {
    border: 1px solid white;
    
    padding: 10px;
}
body{
    padding-right: 75%;
    margin-right: auto;
    background-image: url('kepek/bg.jpg');
    width: 90%;
    max-width: 800px;
    margin: auto;
    color: whitesmoke;
}
main{
    display: grid;
    grid-template-columns: 100px 3fr 1fr;
    grid-template-areas: 
    "h h h"
    "n n n"
    "b a j"
    "i i i"
    "f f f"
    ;
}
ul{
    
    list-style: none;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
}
a{
    color: whitesmoke;
    text-decoration: none;
}
header{
    grid-area: h;
}
nav{
    grid-area: n;
}
article{
    grid-area: a;
}
aside#bal{
    grid-area: b;
}
aside#jobb{
    grid-area: j;
}
footer{
    grid-area: f;
}
.kontener{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 1px;
}
.kep1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;
}

.kep2 {
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    

}

.kep3 {
    grid-column-start: 5;
    grid-row-start: 4;
    grid-column-end: 5;
    grid-row-end: 7;
}

@media screen and (max-width: 600px) {
    body {
      font-size: 5vw;
      width: 100%;
    }
    main{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "h"
        "n"
        "a"
        "b" 
        "j"
        "f"
        ;
    }
}
